<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
</head>
<body>
<header>
    <h1>Quizz Land</h1>
    <nav>
        <ul>
            <li><a href="{{ path('accueil') }}">Home</a></li>
            <li><a href="{{ path('app_categorie_index') }}">Quizz</a></li>
            <li><a href="{{ path('app_user_show', { 'id' : app.user.id }) }}">Profil</a></li>
        </ul>
    </nav>
</header>

<h1>Bienvenue sur le meilleur site de culture !</h1>

<main>
    {% block body %}{% endblock %}
</main>

</body>
</html>
